<% content_for :title, "Sidestreeter #{@user.username}" %>
<div class="row collapse">
  <div class='medium-1 columns'>
    <h4><%= @user.username %></h4>
    <img src="<%= @user.avatar.url %>" id='editableimage2'>
    <a href="#" onclick="return launchEditor('editableimage2',
    '<%= @user.avatar_url %>');" class='tiny button hide-for-small-only' id='edit_button'>Edit Avatar</a>
  </div>
  <div class="medium-2 columns">
    <ul class="tabs vertical" id="example-vert-tabs" data-tabs>
      <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">Your Places</a></li>
      <li class="tabs-title"><a href="#panel2v">Your Visits</a></li>
      <li class="tabs-title"><a href="#panel3v">Update Information</a></li>
    </ul>
  </div>
  <div class="medium-9 columns">
    <div class="tabs-content vertical" data-tabs-content="example-vert-tabs">
      <div class="tabs-panel is-active row" id="panel1v">
        <% @user.created_attractions.each do |a| %>
          <div class='small-4 columns'>
            <div>
              <%= link_to a.name, attraction_path(a) %>
            </div>
            <div>
              <%= link_to image_tag("#{a.photo_url}", size: '100x100'), a %>
            </div>
            <div>
              Visitors: <%= a.visits.count %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tabs-panel row" id="panel2v">
        <% @user.visited_attractions.each do |a| %>
          <div class='small-4 columns centered'>
            <div>
              <%= link_to a.name, attraction_path(a) %>
            </div>
            <div>
              <%= link_to image_tag("#{a.photo_url}", size: '100x100'), a %>
            </div>
            <div>
              <button name="not-visited" class='not-visited tiny button' id='<%= a.id %>'>Nevermind</button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="tabs-panel" id="panel3v">
        <h5>
          Username: <%= @user.username %></h5>
        <h5>
          Email: <%= @user.email %>
        </h5>
        <%= link_to "Update", edit_user_registration_path %>
      </div>
    </div>
  </div>
</div>

<body data-env="<%= ENV['ADOBE_DEV_ID'] %>">
  <script type="text/javascript" src="http://feather.aviary.com/imaging/v3/editor.js"></script>
  <script type="text/javascript">
    var featherEditor = new Aviary.Feather({
            apiKey: '<%= ENV['ADOBE_DEV_ID'] %>',
            // tools:'color,sharpness,effects,lighting,focus,vignette,colorsplash,orientation',
            onSave: function(imageID, newURL) {
               var photoParams = {
              username: '<%= @user.username %>',
              email: '<%= @user.email %>',
              url_to_save: newURL,
              id: '<%= @user.id %>'
            };
              var request = $.ajax({
                method: 'put',
                url: '/users/update_photo',
                data: photoParams
              })
                var img = document.getElementById(imageID);
                img.src = newURL;
                request.done(function(data){
                  if (data.message == 'success'){
                    // $('#photomodal').children()[1].innerHTML = "<img src='" + data.url + "'>"
                    featherEditor.close();
                  } else if (data.message == 'failure'){
                    console.log('Something went wrong')
                  }
                })
                return false;
            }
        });
        function launchEditor(id, src) {
            featherEditor.launch({
                image: id,
                url: src
            });
            return false;
        }
  </script>