<% content_for :title, "Sidestreeter #{@user.username}" %>
<div class="row">
  <div class='small-12 large-4 medium-4 columns'>
     <h4>
     Username: <%= @user.username %></h4>
    <h4>
      Email: <%= @user.email %>
    </h4>
    <%= link_to "Change your password", edit_user_registration_path %>
  </div>
  <div class='small-12 large-4 medium-4 columns index-row'>
    <h3>Your badges</h3>
    <% @user.visited_attractions.each do |a| %>
      <div class='row'>
        <%= link_to a.name, attraction_path(a) %>
      </div>
      <div>
        <%= link_to image_tag("#{a.photo_url}", size: '100x100'), a %>
      </div>
      <div>
        <button name="not-visited" class='not-visited small button' id='<%= a.id %>'>Nevermind</button>
      </div>
    <% end %>
  </div>
  <div class='small-12 large-4 medium-4 columns index-row'>
    <h3>Your photos</h3>
    <div class='show'>
      <% @user.created_attractions.each do |a| %>
        <div>
          <%= link_to a.name, attraction_path(a) %>
        </div>
        <div>
          <%= link_to image_tag("#{a.photo_url}", size: '100x100'), a %>
        </div>
      <% end %>
    </div>
  </div>
</div>