<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= include_gon(init: true) %>
  </head>
  <body>
    
      <div class>
        <div class="top-bar">

          <div id="responsive-menu">
            <div class="small-4 columns tb-v-align">
              <ul class="dropdown menu" data-dropdown-menu>
                <% if user_signed_in? %>
                  <li>
                    <a href="#"><%= image_tag('road_icon.jpg', size: '40x40') %></a>
                    <ul class="menu vertical">
                      <li><%= link_to 'Home', attractions_path %></li>
                      <li><%= link_to 'Profile', user_path(current_user) %></li>
                      <li><%= link_to("Add Photo", new_attraction_path) %></li>
                      <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'DELETE', confirm: 'Are you sure?' %></li>
                    </ul>
                  </li>
                <% else  %>
                  <li>
                    <a href="#">Menu</a>
                    <ul class="menu vertical">
                      <li><%= link_to 'Home', attractions_path %></li>
                      <li><%= link_to 'Sign in', new_user_session_path %></li>
                      <li><%= link_to 'Sign up', new_user_registration_path %></li>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class='small-4 columns center'>
              <h1>
                <div class='hide-for-small-only'><%= link_to image_tag("Logo.png", size: '240x40'), root_path %></div>
              </h1>
            </div>
            <div class="top-bar-right">
              <div class="menu">
                <%= form_tag attractions_search_path(:query), method: 'GET' do  %>
                  <div class='row search-vert'>
                    <div class='search'><%= text_field_tag :query, "", placeholder: 'Places near...', id: "query", required: 'required' %></div>
                    <div class='search'><%= text_field_tag :distance, '', placeholder: 'mi.', id: "distance"  %></div>
                    <div class='search'><%= submit_tag 'Search', class: 'button' %></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if notice %>
        <div class="success callout small-8" data-closable>
          <%= notice %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert callout small-8" data-closable>
          <%= alert %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    
    <script>
      $(document).foundation();
    </script>
  </body>
</html>