<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= include_gon %>
  </head>
  <body>
    <div>
      <div class>
        <%= render "layouts/nav_links" %>
      </div>
      <% if notice %>
        <div class="success callout small-8" data-closable>
          <%= notice %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert callout small-8" data-closable>
          <%= alert %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>