<div class='small-12 large-6 medium-8 float small-centered large-centered'>
</div>
<ul>
  <% @attractions.each do |a| %>
    <div class='small-12 large-6 medium-8 float small-centered'>
      <div>
        <%= a.name %>
      </div>
      <div>
        <%= link_to image_tag("#{a.photo_url}", size: '600x600'), a %>
      </div>
      <% if user_signed_in? && !@visited_attractions.include?(a.id) %>
        <div>
          <button name="visited" class='visited small button'>Been There</button>
        </div>
      <% end %>
      <%= commontator_thread(a) %>
    </div>
  <% end %>
</ul>
<div class='row'>
  <%= paginate @attractions %>
</div>
<% if user_signed_in? %>
  <div>
    <%= link_to("Add Photo", new_attraction_path) %>
  </div>
<% end %>