<% content_for :title, "Sidestreeter homepage" %>
<div class='row index-row'>
  <div class='large-1 medium-2 small-12 columns'>
    &nbsp;
    
  </div>
  <div class='large-8 medium-8 small-12 columns'>
    <ul>
      <% @attractions.each do |a| %>
        <div class='callout'>
          <div><h2><%= a.name %></h2></div>
          <%= link_to image_tag("#{a.photo_url}", size: '700x700'), a %>
          <% if user_signed_in? && !@visited_attractions.include?(a.id) %>
            <button name="visited" class='visitb small button' id='<%= a.id %>'>Been There</button>
            <%= image_tag('badge.jpg', size: '100x60', class: 'hidden')%>
          <% elsif user_signed_in? && @visited_attractions.include?(a.id) %>
            <%= image_tag('badge.jpg', size: '100x60')%>
          <% end %>
          <%= commontator_thread(a) %>
        </div>
      <% end %>
    </ul>
    <div class='row'>
      <%= paginate @attractions %>
    </div>
    <% if user_signed_in? %>
      <div>
        <%= link_to("Add Photo", new_attraction_path) %>
      </div>
    <% end %>
  </div>
  <div class='large-1 medium-1 small-12 columns'>
    &nbsp;
    
  </div>
</div>