<% content_for :title, "Sidestreeter search" %>
<div class='row'>
  <div class='small-12 large-4 medium-4 columns'>
  <h4>Results within <%= @distance %> miles of <%= @query %>:</h4>
    &nbsp;
  </div>
  <div class='small-12 large-4 medium-4 columns'>
    <div class='row'>
      <% @search_results.each do |attraction| %>
        <div class='small-6 columns'>
          <%= link_to attraction.name, attraction %><br>
        </div>
        <div class='small-6 columns'>
          <%= link_to image_tag(attraction.photo_url), attraction %><br>
        </div>
      <% end %>
      <%= paginate @search_results %>
    </div>
  </div>
  <div class='small-12 large-4 medium-4 columns'>
    &nbsp;
  </div>
</div>

